<!DOCTYPE html>
<html>
<head>
    <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
    <script src="/media/gridea-search/fuse.js"></script>
    <script src="/media/gridea-search/ejs.min.js"></script>
    <script src="/media/gridea-search/gridea-search.js"></script>
    <script src="/media/gridea-search/result-template.ejs" type="text/ejs"></script>
</head>
<body>
    <style>
        .searched-keyword {
            background-color: yellow;
        }
    </style>
    <div class="main animated">
        <%- include('./_blocks/header') %>
		<div class="main"><div class="main-inner"><div class="content"><div class="round-shape-one"></div>
        <div id="gridea-search-result">	
            <p class="searching">搜索中......</p>
            <p class="no-result" style="display:none">未搜索到相关文章</p>
        </div>
		</div></div></div>
    </div>
    <%- include('./_blocks/footer') %>
</body>
</html>